.panel-code{
  background-color: orange;
}
.range-number{
  margin-top: 0.8em;
}

.first-range-number{
  margin-right: 1em;
}

.second-range-number{
  margin-left: 1em;
}

#root {
  height: 100%;
}

#area{
  width: 50%;
  /* margin-left: 10%; */
}

#hdviz {
  height: 100%;
}

#app {
  height: 100%;
  padding: 24px;
}

#settingPanel {
  background: none;
  width: 40%;
  height: 100%;
  overflow: auto;
}

#visualization {
  padding: 0 24px;
  height: 100%;
}

.ant-form-item {
  margin-bottom: 12px;
}

.no-point > .ant-form-item-label > label::after {
  content: none;
}

.option-panel-header {
  background-color: #353535;
}

.option-panel-header span {
  color: white;
}

#start-button{
  background-color: #353535;
  padding: 1.5em 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}

#start-button span{
  color: #353535;
}

#start-button > button{
  padding: 0 32px;
  margin: 0 8px;
}

/* MOBILE */
@media (max-width: 767px) {
  #hdviz {
    height: auto;
    min-height: 100%;
  }

  #app {
    flex-direction: column;
    height: auto;
  }

  #settingPanel {
    background: none;
    width: 100%;
    height: auto;
    overflow: auto;
  }

  #visualization {
    padding: 24px 0;
    height: auto;
  }
}
